.catbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 52px;
  }
  
  #cat {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
 
  #header {
    display: flex;
    background-color: #1F2937;
  }

  .title-1 {
    display: flex;
    align-content: flex-start;
    font-size: 24px;
    color: #F9FAF8;
  }

  .header-links {
    display: flex;
    align-content: flex-end;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #E5E7EB;
  }

  ul {
    display: flex;
    list-style-type: none;
  }
  
  #hero-box {
    display: flex;
    background-color: #1F2937;
  }

  .title-2 {
    display: flex; 
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
  }

  .title-3 {
    display: flex;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
  }

  .text {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
  }

  img {
    display: flex;
  }

  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
  }

  .quote-text {
    display: flex;
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
  }

  .attribution {
    display: flex;
    align-content: right;
  }

  .modal {
    display: flex;
    background-color: #3882F6;
  }

  #button {
    display: flex;
  }

  .top {
    display: flex;
  }

  .close-button {
    display: flex;
  }

  #bottom {
    display: flex;
  }

  #signup {
    display: flex;
    background-color: #3882F6;
  }
  .continue {
    display: flex;
    background-color: #3882F6;
  }
  .footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
  }
  .footer-text {
    display: flex;
    flex-direction: column;
    align-content: center;
  }