.catbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 52px;
  }
  
  #cat {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
 
  .header {
    display: flex;
  }

  .title-1 {
    display: flex;
  }

  .header-links {
    display: flex;
  }

  a {
    display: flex;
  }

  ul {
    display: flex;
  }
  
  .hero-box {
    display: flex;
  }

  .title-2 {
    display: flex; 
  }

  .text {
    display: flex;
  }

  img {
    display: flex;
  }

  .quote {
    display: flex;
  }

  .quote-text {
    display: flex;
  }

  .attribution {
    display: flex;
  }

  .modal {
    display: flex;
  }

  #button {
    display: flex;
  }

  .top {
    display: flex;
  }

  .close-button {
    display: flex;
  }

  #bottom {
    display: flex;
  }

  #signup {
    display: flex;
  }
  .continue {
    display: flex;
  }
  .footer {
    display: flex;
  }
  .footer-text {
    display: flex;
  }