.plantbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 52px;
  }
  
  #plants {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
 
  .header {

  }

  .title-1 {

  }

  .header-links {

  }

  a {

  }

  ul {

  }
  
  .hero-box {

  }

  .title-2 {

  }

  .text {

  }

  img {

  }

  .quote {

  }

  .quote-text {

  }

  .attribution {

  }

  .modal {

  }

  #button {

  }

  .top {

  }

  .close-button {

  }

  #bottom {

  }

  #signup {

  }
  .continue {

  }
  .footer {

  }
  .footer-text {
      
  }